<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="icon" type="image/svg+xml" href="/images/favicon.ico">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="f-screen w-screen bg-stone-200 flex flex-col items-center">
<nav class="w-full flex flex-row bg-sky-900 px-10">
  <div class="flex flex-row gap-10 py-3 items-center">
    <a class="font-bolder text-sky-50 hover:animate-pulse hover:cursor-pointer py-2" href="/"
       th:href="@{/}" th:text="#{company.name}">
    </a>
    <form class="w-[280px] sm:block hidden" th:action="@{/search/study}" method="GET">
      <input th:placeholder="#{signup.search}"
             class="text-xs text-slate-700 p-3 w-full"/>
    </form>
  </div>
  <ul class="text-slate-50 ml-auto flex flex-row items-center gap-5">
    <li class="hover:cursor-pointer hover:animate-pulse">
      <a th:text="#{signup.login}" th:href="@{/login}"></a>
    </li>
    <li class="hover:cursor-pointer hover:animate-pulse">
      <a th:text="#{signup.home}" th:href="@{/}"></a>
    </li>
  </ul>
</nav>
<form
    class="flex flex-col items-center max-w-[500px] px-10 pb-10 pt-8 gap-5 shadow-md bg-stone-50 mt-10"
    th:action
    th:method="POST"
    onsubmit="onSubmitHandler(event)"
    th:object="${signUpForm}">
  <h1 class="text-lg font-bolder">회원가입</h1>

  <div class="flex flex-col gap-1 w-full">
    <div class="flex flex-col gap-2 w-full">
      <label th:for="${#ids.next('nickname')}" class="text-xs"
             th:text="#{signup.nickname}"></label>
      <input id="nickname" type="text" th:field="*{nickname}"
             class="p-2 border border-gray-300 rounded-md w-full"
      >
    </div>
    <small class="text-xs text-stone-700">투게더랩은 사용자의 이메일을 공개하지 않습니다.</small>
    <small class="validation-failed-nickname text-xs text-red-500 hidden">닉네임을 입력해주세요</small>
    <small class="text-xs text-red-500" th:if="${#fields.hasErrors('nickname')}"
           th:errors="*{nickname}"></small>
  </div>
  <div class="flex flex-col gap-1 w-full">
    <div class="flex flex-col gap-2 w-full">
      <label th:for="${#ids.next('email')}" class="text-xs"
             th:text="#{signup.email}"></label>
      <input id="email" type="text" th:field="*{email}"
             class="p-2 border border-gray-300 rounded-md w-full"
      >
    </div>
    <small class="text-xs text-stone-700">공백 없이 문자와 숫자로만 3글자 이상 20글자 이하로 입력해주세요.</small>
    <small class="validation-failed-email text-xs text-red-500 hidden">이메일을 입력해주세요</small>
    <small class="text-xs text-red-500" th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}"></small>
  </div>
  <div class="flex flex-col gap-1 w-full">
    <div class="flex flex-col gap-2 w-full">
      <label th:for="${#ids.next('email')}" class="text-xs" th:text="#{signup.pw}"></label>
      <input id="password" type="password" th:field="*{password}"
             class="w-full p-2 border border-gray-300 rounded-md"
      >
    </div>
    <small class="text-xs text-stone-700">3글자 이상 20글자 이하로 입력해주세요. </small>
    <small class="validation-failed-password text-xs text-red-500 hidden">비밀번호를 입력해주세요</small>
    <small class="text-xs text-red-500" th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}"></small>
  </div>
  <button class="bg-sky-900 text-sky-50 py-3 text-xs w-full" th:text="#{signup.button}"
          type="submit"></button>
</form>
<script>
  const emailElement = document.getElementById("email");
  const nicknameElement = document.getElementById("nickname");
  const passwordElement = document.getElementById("password");

  const onSubmitHandler = (event) => {

    let emailFailedElement = document.querySelector(".validation-failed-email");
    let nicknameFailedElement = document.querySelector(".validation-failed-nickname");
    let passwordFailedElement = document.querySelector(".validation-failed-password");

    const validationFields = {};

    if (!emailElement.value) {
      emailFailedElement.classList.remove("hidden");
      validationFields.email = "이메일을 입력해주세요"
    }
    if (!nicknameElement.value) {
      nicknameFailedElement.classList.remove("hidden");
      validationFields.nickname = "닉네임을 입력해주세요"
    }
    if (!passwordElement.value) {
      passwordFailedElement.classList.remove("hidden");
      validationFields.password = "비밀번호를 입력해주세요"
    }

    if (Object.keys(validationFields).length > 0) {
      event.preventDefault();
      return;
    }
  }


</script>
</body>
</html>